[submodule "alphafold"]
	path = alphafold
	url = git@github.com:KosinskiLab/alphafold.git
	branch = main
[submodule "alphapulldown/analysis_pipeline/af2plots"]
	path = alphapulldown/analysis_pipeline/af2plots
	url = https://gitlab.com/gchojnowski/af2plots.git
	branch = main
[submodule "AlphaLink2"]
	path = AlphaLink2
	url = git@github.com:dingquanyu/AlphaLink2.git
	branch = main
[submodule "ColabFold"]
	path = ColabFold
	url = git@github.com:sokrypton/ColabFold.git
	branch = main
