[submodule "alphapulldown/analysis_pipeline/af2plots"]
	path = alphapulldown/analysis_pipeline/af2plots
	url = https://gitlab.com/gchojnowski/af2plots.git
[submodule "alphapulldown/ColabFold"]
	path = alphapulldown/ColabFold
	url = git@github.com:sokrypton/ColabFold.git
[submodule "src/ColabFold"]
	path = src/ColabFold
	url = git@github.com:sokrypton/ColabFold.git
	branch = main
[submodule "alphafold"]
	path = alphafold
	url = git@github.com:henrywotton/alphafold.git
