[submodule "alphapulldown/ColabFold"]
	path = alphapulldown/ColabFold
	url = git@github.com:sokrypton/ColabFold.git
	branch = main
[submodule "alphafold"]
	path = alphafold
	url = git@github.com:dingquanyu/alphafold.git
	branch = main